@media (max-width: 640px) {
  lrtp-comment-detail {
    border-left: 10px solid #888888;
    display: block;
  }
  lrtp-comment-detail.lrtp-mode-pedestrian {
    border-left-color: #944089;
  }
  lrtp-comment-detail.lrtp-mode-bicycle {
    border-left-color: #bdd938;
  }
  lrtp-comment-detail.lrtp-mode-bus {
    border-left-color: #e9891d;
  }
  lrtp-comment-detail.lrtp-mode-automobile {
    border-left-color: #50b3d0;
  }
  lrtp-comment-detail.lrtp-mode-train {
    border-left-color: #f1330d;
  }
  lrtp-comment-detail.lrtp-mode-plane {
    border-left-color: #4d63ac;
  }
  lrtp-comment-detail .item-md h2,
  lrtp-comment-detail .item-ios h2 {
    font-size: 0.9rem;
  }
  lrtp-comment-detail .item-md p,
  lrtp-comment-detail .item-ios p {
    font-size: 0.8rem;
  }
}
